<style>
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
  }

  #game-board {
    background-color: #efe9f4;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    /* setting the board to 21 even squares  */
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
  }

  .snake {
    background-color: #16bac5;
    border: .25vmin solid black;
  }

  .food {
    background-color: #5fbff9;
    border: .25vmin solid black;
  }
